<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practical Task 2 - Users List</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div id="app">
    <div class="container" v-cloak>
        <div class="row">
            <div class="col-sm-12">
                <div class="toolbar clearfix">
                    <h5 class="float-left">User list</h5>
                    <button class="btn btn-info float-right" v-on:click="toggleUsersHandler">Toggle list</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div v-show="showUsers" class="user-list-container" >
                    <user-list v-bind:users="users"></user-list>
                </div>
                <div class="alert alert-info" v-show="!showUsers">
                    User list is <strong>hidden</strong>! Click <strong>"Toggle list"</strong> button for show it.
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="user-list">
    <div>
        <table class="table table-striped table-bordered rounded">
            <thead>
            <tr>
                <th>#</th>
                <th>Avatar</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Company</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(user, index) in users" v-bind:key="user.id">
                <td>{{index + 1}}</td>
                <td>
                    <div class="avatar" v-if="user.picture">
                        <img v-bind:src="user.picture" alt="">
                    </div>
                    <div class="no-avatar" v-else="user.picture">No image</div>
                </td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.company }}</td>
                <td><a v-bind:href="'mailto:' + user.email" target="_blank">{{ user.email }}</a></td>
                <td><a v-bind:href="'tel:' + user.phone ">{{ user.phone }}</a></td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-link" disabled><i class="fa fa-eye" aria-hidden="true"></i></button>
                        <a href="edit.html" class="btn btn-link"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <button type="button" class="btn btn-link" disabled><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <span class="float-right">Users list length - <strong v-text="usersCount"></strong></span>
    </div>
</script>

<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="../node_modules/vue/dist/vue.min.js"></script>

<script src="assets/js/app.js"></script>

</body>
</html>